<div class="about">
  <h1>Du Studi, Ich Bot.</h1>
  <p class="intro">
    Während deines Studiums bin ich der treue Freund an deiner Seite, und versuche, dir das Leben<br>als Studi so leicht wie möglich zu machen!
  </p>
  <div class="d-flex justify-content-center">
    <a routerLink="/chatbot">
      <button type="button" class="btn btn-primary btn-lg">Zum Chatbot</button>
    </a>
  </div>
  <app-telegram></app-telegram>
  <app-discord></app-discord>
  <app-github></app-github>
  <app-wiki></app-wiki>
</div>
<app-footer></app-footer>
