.nv {
  position: fixed;
  width: 100%;
  overflow: visible;
  z-index: 1;
}

.bg-light {
  background-color: #19a5a5 !important;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  padding-right: 15px;
}

a:hover {
  text-decoration: underline;
}

img {
  padding-right: 4px;
  margin-top: -2px;
}
