<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <i class="far fa-comments"></i>
      <a class="nav-link active" routerLink="bhtbot"><span><img src="assets/icons/chat-icon.svg">Chatbot</span></a>
      <a class="nav-link" routerLink="uebermich"><span><img src="assets/icons/light-bulb.svg">Über mich</span></a>
      <!-- <a class="nav-link" routerLink="telegram"><span><img src="assets/icons/telegram-icon.svg">Telegram</span></a>
      <a class="nav-link" routerLink="discord"><span><img src="assets/icons/discord-icon.svg">Discord</span></a>
      <a class="nav-link" routerLink="github"><span><img src="assets/icons/github-icon.svg">GitHub</span></a>
      <a class="nav-link" routerLink="wiki"><span><img src="assets/icons/wiki-icon.svg">Ziemer's Wiki</span></a> -->
    </div>
  </div>
</nav>
